@font-face {
  font-family: 'PressStart2P';
  src: url('https://fonts.gstatic.com/s/pressstart2p/v12/e3t4euO8KNyFZ0a9UE8zEK0Urdg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
